doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', type='text/css', href=contents.css['main-dark.css'].url, id="dark-style")
      link(rel='stylesheet', type='text/css', href=contents.css['main-grey.css'].url, id="grey-style")
      link(rel='stylesheet', type='text/css', href=contents.css['main-red.css'].url,  id="red-style")
      link(rel='shortcut icon', href='favicon.ico')
  body(class=bodyclass)
    script.
      var themes = ["grey", "dark", "red"];
      var theme  = themes[Date.now()%3];
      themes.forEach(function (t) {
        document.getElementById(t + "-style").disabled = t !== theme;
      })
      console.log("Using theme:", theme);

    block body
